html{
    scroll-behavior: smooth;
}

#div1{
    height: 920px;
    width: 100%;
    background-color: white;
}

#div2{
    height: 920px;
    width: 100%;
    background-image: url(./img/img1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#div3{
    height: 920px;
    width: 100%;
    background-color: white;
}

div{  
    width: 300px;  
    height: 300px;  
    border: 5px solid red;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}  

button{  
    font-size: 20px;
}  